.capitalize{
    text-transform: capitalize !important;
}

.badge {
    font-size: 14px;
}
.select2.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple{
    padding: 10px !important;
}
.row-json{
    margin-left: 5px;
    padding-bottom: 10px;
    border-left: 2px solid #e9ecef;
    justify-content: end;
    margin-bottom: 10px;
}
